h1 {text-align: center; color:#0000ff; text-size: 20pt; font-family: verdana}
h2 {text-align: center; color:#778899; text-size: 30pt; font-weight: 900}
p1 {text-align: justify; color:#2200ff; text-size: 16pt; font-family: Georgia}
ul {text-align: justify; color:#00BFFF; text-size: 12pt; font-style: oblique}
p2 {text-align: justify; color:#006400; text-size: 16pt; font-family: Georgia}
ol {text-align: justify; color:#228B22; text-size: 12pt; font-weight: 500}